/*
Основной цвет рамок и разделителей: #dee0ee
Осветленый цвет рамок и разделителей: #e7ebf9

Оснвоной цвет текста: #a1a4b3
Более яркий цвет текста: #828496

Красный - светлый: #d44b38;
Красный - темный: #5a1a11;

Желтый - светлый: #ef8b00;
Желтый - темный: #a96000;

Зеленый - светлый: #40c781;
Зеленый - темный: #134e2f;

Обычный отступ: 1em;
Большой отступ: 2em;
Небольшой отступ отступ: .5em;
Маленький отступ отступ: 2px;

Основной размер шрифта: 13px;
Мелкий размер шрифта: 10px;
*/

/* Стиль для основного блока админки */
#AplsAdminWrapper {
    position: relative;
    background: #FFFFFF;
    padding: 2em;
    color: #a1a4b3;
    font-size: 13px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Стиль для спсика элементов элемента */
#AplsAdminWrapper .ListOfElements {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
#AplsAdminWrapper .ListOfElements .ElementBlock {
    width: 100%;
    margin-bottom: 1em;
}
#AplsAdminWrapper .ListOfElements .ElementBlock .ElementBlockContent {
    font-size: 13px;
    /*padding: 1em;*/
    border: 1px solid #dee0ee;
    color: #a1a4b3;
    position: relative;
    /*height: 100%;*/
}
#AplsAdminWrapper .ListOfElements .ElementBlock .ElementBlockContent .content {
    padding: 1em;
}
#AplsAdminWrapper .ListOfElements.TwoColumns .ElementBlock {
    width: 50%;
}
#AplsAdminWrapper .ListOfElements.TwoColumns .ElementBlock:nth-child(2n+1) .ElementBlockContent {
    margin-right: .5em;
}
#AplsAdminWrapper .ListOfElements.TwoColumns .ElementBlock:nth-child(2n) .ElementBlockContent {
    margin-left: .5em;
}

/* Стиль для кнопки удалить блкоа элемента из списка */
#AplsAdminWrapper .ListOfElements .ElementBlock .ElementBlockContent .DellButton {
    position: absolute;
    right: 1em;
    top: 50%;
    margin-top: -.5em;
    border: 1px solid #dee0ee;
    height: 1em;
    width: 1em;
    cursor: pointer;
}
#AplsAdminWrapper .ListOfElements .ElementBlock .ElementBlockContent .DellButton:hover {
    border: 1px solid #d44b38;
}
#AplsAdminWrapper .ListOfElements .ElementBlock .ElementBlockContent .DellButton:before,
#AplsAdminWrapper .ListOfElements .ElementBlock .ElementBlockContent .DellButton:after {
    position: absolute;
    left: .45em;
    top: .1em;
    content: ' ';
    height: .8em;
    width: 1px;
    background-color: #dee0ee;
}
#AplsAdminWrapper .ListOfElements .ElementBlock .ElementBlockContent .DellButton:hover:before,
#AplsAdminWrapper .ListOfElements .ElementBlock .ElementBlockContent .DellButton:hover:after {
    background-color: #d44b38;
}
#AplsAdminWrapper .ListOfElements .ElementBlock .ElementBlockContent .DellButton:before {
    transform: rotate(45deg);
}
#AplsAdminWrapper .ListOfElements .ElementBlock .ElementBlockContent .DellButton:after {
    transform: rotate(-45deg);
}

/* Стиль для текстового блока */
#AplsAdminWrapper input[type="text"]::-webkit-input-placeholder {color:#d7d7d7 !important;}
#AplsAdminWrapper input[type="text"]::-moz-placeholder {color:#d7d7d7 !important;}
#AplsAdminWrapper input[type="text"]:-moz-placeholder {color:#d7d7d7 !important;}
#AplsAdminWrapper input[type="text"]:-ms-input-placeholder {color:#d7d7d7 !important;}
#AplsAdminWrapper input[type="text"] {
    width: 400px;
    height: 30px;
    margin: 0;
    padding: 0 .5em;
    font-size: 14px;
    color: #a1a4b3;
    border: 1px solid #dee0ee;
    border-radius: 0;
    box-shadow: none;
}
#AplsAdminWrapper select {
    height: 30px;
    margin: 0;
    padding: 0 .5em;
    font-size: 14px;
    color: #a1a4b3;
    border: 1px solid #dee0ee;
    border-radius: 0 ;
    box-shadow: none;
}
#AplsAdminWrapper textarea {
    width: 400px;
    height: 100px;
    margin: 0;
    padding: .5em;
    font-size: 14px;
    color: #a1a4b3;
    border: 1px solid #dee0ee;
    border-radius: 0;
    box-shadow: none;
    resize: none;
}

/* Обычная кнопка */
#AplsAdminWrapper .Button {
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #a1a4b3;
    background: transparent;
    border: 1px solid #dee0ee;
    height: 1em;
    padding: 1em;
    cursor: pointer;
}
#AplsAdminWrapper .Button:hover {
    color: #a1a4b3;
    background: #dee0ee;
}
#AplsAdminWrapper .Button.Small {
    padding: 2px 1em;
}
#AplsAdminWrapper .Button.Green {
    color: #40c781;
    border: 1px solid #40c781;
}
#AplsAdminWrapper .Button.Green:hover {
    color: #134e2f;
    background: #40c781;
}
#AplsAdminWrapper .Button.Yellow {
    color: #ef8b00;
    border: 1px solid #ef8b00;
}
#AplsAdminWrapper .Button.Yellow:hover {
    color: #a96000;
    background: #ef8b00;
}
#AplsAdminWrapper .Button.Red {
    color: #d44b38;
    border: 1px solid #d44b38;
}
#AplsAdminWrapper .Button.Red:hover {
    color: #5a1a11;
    background: #d44b38;
}


/* хлебные крошки */
.breadcrumbWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}
.breadcrumbWrapper .breadcrumb__item {
    display: block;
    background: #f6f6fb;
    text-decoration: none;
    margin: 0 .5em 0 1em;
    position: relative;
    height: 3em;
    max-width: 180px;
    font-size: 10px;
}
.breadcrumbWrapper .breadcrumb__item::before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-width: 1.5em 0 1.5em 1em;
    border-style: solid;
    border-color: #f6f6fb #f6f6fb #f6f6fb transparent;
    left: -1em;
}
.breadcrumbWrapper .breadcrumb__item::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid #f6f6fb;
    right: -1em;
}
.breadcrumbWrapper .breadcrumb__item:first-child {
    margin: 0 .5em 0 0;
}
.breadcrumbWrapper .breadcrumb__item:first-child::before {
    display: none;
}
.breadcrumbWrapper .breadcrumb__item>.breadcrumb__link,
.breadcrumbWrapper .breadcrumb__item>.breadcrumb__title {
    display: table-cell;
    vertical-align: middle;
    height: 3em;
    padding: 0 1em;
    color: #8184a1;
    text-decoration: none;
}
/*.breadcrumb__item:hover {*/
    /*background: #ef7f1a;*/
    /*cursor: pointer;*/
/*}*/
/*.breadcrumb__item:hover::before {*/
    /*border-color: #ef7f1a #ef7f1a #ef7f1a transparent;*/
/*}*/
/*.breadcrumb__item:hover::after {*/
    /*border-left: 1em solid #ef7f1a;*/
/*}*/
/*.breadcrumb__item:hover>.breadcrumb__link,*/
/*.breadcrumb__item:hover>.breadcrumb__title {*/
    /*color: #FFFFFF;*/
/*}*/
/*.breadcrumb__item:hover:last-child {*/
    /*background: #f6f6fb;*/
/*}*/
/*.breadcrumb__item:hover:last-child::before {*/
    /*border-color: #f6f6fb #f6f6fb #f6f6fb transparent;*/
/*}*/
/*.breadcrumb__item:hover:last-child::after {*/
    /*border-left: 1em solid #f6f6fb;*/
/*}*/
/*.breadcrumb__item:hover:last-child>.breadcrumb__link,*/
/*.breadcrumb__item:hover:last-child>.breadcrumb__title {*/
    /*color: #8184a1;*/
/*}*/