/* Кнопка оплаты */
.foot_panel .cart_line .oformit_cont .btn_buy.popdef.oformit {
    border: 1px solid #FFFFFF;
    background: transparent;
    color: #FFFFFF;
}
.foot_panel .cart_line .oformit_cont .btn_buy.popdef.oformit:hover {
    border: 1px solid #FFFFFF;
    background: #FFFFFF !important;
    color: #ef7f1a;
}

/* оранжевая кнопка */
.btn_buy,
.btn_buy.popdef,
.btn_buy.apuo_detail,
.bx-soa-order-save .btn_buy.popdef,
.btn_buy.popdef.next,
.cart-buttons .btn_buy.popdef {
    border: 1px solid #ef7f1a;
    background: transparent;
    color: #ef7f1a;
}
.btn_buy:hover,
.btn_buy.popdef:hover,
.btn_buy.apuo_detail:hover,
.bx-soa-order-save .btn_buy.popdef:hover,
.btn_buy.popdef.next:hover,
.cart-buttons .btn_buy.popdef:hover {
    border: 1px solid #ef7f1a;
    background: #ef7f1a !important;
    color: #FFFFFF;
}
.btn_buy i {
    color: #ef7f1a;
}

/* серая кнокпа */
.btn_buy.popdef,
.btn_buy.apuo,
#altop_search form input[type="submit"],
.btn_buy.ppp.prev {
    border: 1px solid #dee0ee;
    background: transparent;
    color: #8184a1;
}
.btn_buy.popdef:hover,
.btn_buy.apuo:hover,
#altop_search form input[type="submit"]:hover,
.btn_buy.ppp.prev:hover {
    border: 1px solid #ef7f1a;
    background: #ef7f1a !important;
    color: #FFFFFF;
}
.btn_buy.popdef i,
.btn_buy.apuo i {
    color: #8184a1;
}
.btn_buy.popdef:hover i,
.btn_buy.apuo:hover i {
    color: #FFFFFF;
}

/* полностьюсерая кнокпа */
.btn_buy.boc_anch,
.btn_buy.subscribe_anch,
.btn_buy.ppp,
.cart-items .w100p .bx_ordercart_coupon button,
.bx-soa-coupon-input button {
    border: 1px solid #dee0ee;
    background: #dee0ee;
    color: #8184a1;
}
.btn_buy.boc_anch:hover,
.btn_buy.subscribe_anch:hover,
.btn_buy.ppp:hover,
.cart-items .w100p .bx_ordercart_coupon button:hover,
.bx-soa-coupon-input button:hover {
    border: 1px solid #ef7f1a;
    background: #ef7f1a !important;
    color: #FFFFFF;
}
.btn_buy.boc_anch i,
.btn_buy.subscribe_anch i,
.btn_buy.ppp i,
.cart-items .w100p .bx_ordercart_coupon button i,
.bx-soa-coupon-input button i {
    color: #8184a1;
}
.btn_buy.boc_anch:hover i,
.btn_buy.subscribe_anch:hover i,
.btn_buy.ppp:hover i,
.cart-items .w100p .bx_ordercart_coupon button:hover i,
.bx-soa-coupon-input button:hover i {
    color: #FFFFFF;
}

/* Прочие кнопки */
.catalog-item-sorting a:hover, .catalog-item-limit a:hover {
    border: 1px solid #ef7f1a;
    background: #ef7f1a !important;
}
.catalog-item-sorting a.selected:hover,
.catalog-item-limit a.selected:hover {
    border: 1px solid #ef7f1a;
    background: #ef7f1a !important;
    color: #FFFFFF;
}
.catalog-item-sorting a.selected.desc:hover:after {
    border-top: 6px solid #FFFFFF;
}
.catalog-item-card .buy_more .compare a:hover,
.catalog-item-card .buy_more .delay a:hover {
    border: 1px solid #ef7f1a;
    background: #ef7f1a;
}
.buy_more a.minus:hover,
.buy_more_detail a.minus:hover,
.geolocation-delivery-detail__qnt a.minus:hover,
.buy_more a.plus:hover,
.buy_more_detail a.plus:hover,
.geolocation-delivery-detail__qnt a.plus:hover {
    background: #ef7f1a;
}

.catalog-item-view a.selected {
    border: 1px solid #dee0ee;
    background: #dee0ee;
}
.catalog-item-view a.selected i {
    color: #a0a4bc;
}
.catalog-item-view a:hover {
    border: 1px solid #ef7f1a;
    background: #ef7f1a;
}
.catalog-detail .compare a:hover,
.catalog-detail .delay a:hover,
.cart-items .equipment .tbody .cart-item-actions .delay a:hover,
.cart-items .equipment .tbody .cart-item-actions .in-order a:hover,
.cart-items .equipment .tbody .cart-item-actions .delete a:hover,
.cart-items .equipment-profile .tbody .cart-item-actions .delete a:hover {
    border: 1px solid #ef7f1a;
    background: #ef7f1a;
}

/* всплывающие окна */
.pop-up .popup-window-titlebar {
    background: #ef7f1a;
}

/* всплывающие балуны */
.already_seen ul li a span {
    background: #ef7f1a;
}
.already_seen ul li a span::after {
    border-top: 11px solid #ef7f1a;
}

/* Прочее */
.catalog-item-card .buy_more .avl i,
.catalog-detail .catalog-detail-price .avl i,
.catalog-item .buy_more .avl i,
.catalog-item-price-view .avl i {
    color: #ef7f1a;
}
.geolocation-delivery-detail__delivery-price-free {
    color: #ef7f1a;
}
.catalog-detail .catalog-detail-price .catalog-detail-item-price {
    color: #8184a1;
}
.bx-soa-section.bx-step-completed .bx-soa-section-title-count {
    border-color: #ef7f1a;
}
.bx-soa-section.bx-step-completed .bx-soa-section-title-count .fa-check {
    background: #ef7f1a;
}
.bx-soa-pp-company.bx-selected label.icon, .bx-soa-pp-inner-ps.bx-selected label.icon {
    border-color: #ef7f1a;
    background-color: #ef7f1a;
}
.bx-soa-cart-d,
.bx-soa-cart-t {
    color: #8184a1;
}
.bx-soa-cart-total-line-total .bx-soa-cart-d {
    color: #ef7f1a;
}