.header_2 #altop_search {
    border: 1px solid #dee0ee;
}
ul.left-menu > li > a {
    font-size: 13px !important;
}

.popup-window-content {
    max-width: 800px;
    max-height: 400px;
    overflow-y: auto;
}
.popup-window-titlebar h2 {
    font-size: 20px;
    line-height: 49px;
    margin: 0;
    padding: 0 1em;
}
.banners_left_toRent {
    background-image: url("/images/SHOP_Banner_toRent.png");
    background-repeat: no-repeat;
    height: 300px;
}
.banners_left_ustanovka {
    background-image: url("/images/SHOP_Banner_ustanovka.png");
    background-repeat: no-repeat;
    height: 300px;
}
.banners_left_consult {
    background-image: url("/images/SHOP_Banner_consult.png");
    background-repeat: no-repeat;
    height: 300px;
}
.banners_left_text_1, .banners_left_text_2 {
    width: 100%;
    text-align: center;
}
.banners_left_text_1 {
    color: #575b71;
    padding-top: 5px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}
.banners_left_text_2 {
    color: #ef7f1a;
    font-size: 23px;
    font-weight: 700;
}
.banners_left_text_2 .up {
    text-transform: uppercase;
}
.weFindRent {
    background-image: url("/images/SHOP_Banner_weFindRent.png");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 120px;
    border: 1px dashed #dee0ee;
    padding: 5px 10px;
    margin-top: 14px;
}
.weFindRent_headerText {
    display: inline-block;
    width: 83%;
    color: #575b71;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
}
.weFindRent_headerPhone {
    display: inline-block;
    width: auto;
    color: #f18c32;
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}
.weFindRent_text {
    width: 64%;
    line-height: 1.4;
    font-size: 17px;
    padding-top: 10px;
}
.weFindRent_text .orange {
    color: #f18c32;
}
.weFindRent_text a{
    color: #f18c32;
}
.weFindRent_text a:hover{
    color:#b05a0c;
}
@media screen and (max-width: 787px) {
    .panel_1 .catalog-section-title a,
    .panel_2 .submenu a {
        font-size: 20px !important;
        padding: .7em 1em !important;
    }
    .panel_1 .catalog-section-child a,
    .panel_2 .submenu a ul li a {
        font-size: 20px !important;
        padding: .3em 1em !important;
    }
    .panel_1 .catalog-section-child a .child .text,
    .panel_2 .submenu a ul li a  {
        font-size: 20px !important;
        font-weight: 400 !important;
    }
    .advantages-item-icon img {
        height: 30px;
    }
    .anythingContainer {
        display: none;
    }
    .header_1 {
        width: auto;
    }
    header {
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .header_1 .logo a img {
        width: 150px;
    }
}