.header_2 #altop_search {
    border: 1px solid #dee0ee;
}
ul.left-menu > li > a {
    font-size: 13px !important;
}

.popup-window-content {
    max-width: 800px;
    max-height: 400px;
    overflow-y: auto;
}
.popup-window-titlebar h2 {
    font-size: 20px;
    line-height: 49px;
    margin: 0;
    padding: 0 1em;
}
.banners_left_toRent {
    background-image: url("/images/SHOP_Banner_toRent.png");
    background-repeat: no-repeat;
    height: 300px;
}
.banners_left_ustanovka {
    background-image: url("/images/SHOP_Banner_ustanovka.png");
    background-repeat: no-repeat;
    height: 300px;
}
.banners_left_consult {
    background-image: url("/images/SHOP_Banner_consult.png");
    background-repeat: no-repeat;
    height: 300px;
}
.banners_left_text_1, .banners_left_text_2 {
    width: 100%;
    text-align: center;
}
.banners_left_text_1 {
    color: #575b71;
    padding-top: 5px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}
.banners_left_text_2 {
    color: #ef7f1a;
    font-size: 23px;
    font-weight: 700;
}
.banners_left_text_2 .up {
    text-transform: uppercase;
}
.weFindRent {
    background-image: url("/images/SHOP_Banner_weFindRent.png");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 120px;
    border: 1px dashed #dee0ee;
    padding: 5px 10px;
    margin-top: 14px;
}
.holidaysBlock {
    background-image: url("/images/SHOP_Banner_holidays.png");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 120px;
    border: 1px dashed #dee0ee;
    padding: 5px 10px;
    margin-top: 14px;
}
.weFindRent_headerText {
    display: inline-block;
    width: 83%;
    color: #575b71;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
}
.weFindRent_headerPhone {
    display: inline-block;
    width: auto;
    color: #f18c32;
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}
.weFindRent_headerPhone a{
    color: inherit;
}
.weFindRent_text {
    width: 64%;
    line-height: 1.4;
    font-size: 17px;
    padding-top: 10px;
}
.holidaysBlock .holidaysBlock_text{
    width: 64%;
    line-height: 1.4;
    font-size: 17px;
    padding-top: 10px;
}
.holidaysBlock .holidaysBlock_text p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.weFindRent_text .orange {
    color: #f18c32;
}
.weFindRent_text a{
    color: #f18c32;
}
.weFindRent_text a:hover{
    color:#b05a0c;
}
.foot_panel_2 .oformit_cont {
    display: none;
}
.foot_panel_2 .kabinet {
    float: left;
    margin: 0;
    padding: 0;
}
.foot_panel_2 .kabinet a.login_anch {
    padding: 5px 14px 0px 15px;
    text-align: center;
}
.kabinet a.login_anch, .kabinet a.login_anch i{
    font-size: 25px;
    display: block;
}
.kabinet a.login_anch, #kabinet a.login_anch span{
    display: table-cell!important;
    font-size: 10px;
}
.kabinet a.login_anch, #kabinet a.login_anch:hover span{
    color: #f18c32!important;
}
.kabinet a.login_anch {
    border-right: none;
    border-left:1px solid rgba(0,0,0,0.05);
    padding: 5px 14px 0px 15px;
    text-align: center;
}
.kabinet a.personal {
    border-right: none;
    border-left:1px solid rgba(0,0,0,0.05);
    padding: 5px 10px 0px 9px;
    text-align: center;
}
.kabinet a.login_anch, .kabinet a.personal i{
    font-size: 25px;
    display: block!important;
}
.kabinet a.login_anch span, #kabinet a.personal span{
    display: block!important;
    font-size: 10px;
}
.kabinet a.login_anch, #kabinet a.personal:hover span{
    color: #f18c32!important;
}
.kabinet a.login_anch:hover, .kabinet a.personal:hover, .kabinet a.orders:hover {
    background: #ffffff;
}
.kabinet a.login_anch:hover i, .kabinet a.personal:hover i, .kabinet a.orders:hover i {
    color: #f18c32!important;
}
.kabinet a.orders {
    height: 48px;
    float: left;
    display: table;
    margin: 0px;
    padding: 0px 14px 0px 15px;
    border-left:1px solid rgba(0,0,0,0.05);
}
.kabinet a.orders i {
    display: table-cell;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
    font-size: 30px;
}
.kabinet .pop-up.login {
    right: 0 !important;
    left: auto!important;
}
.kabinet .login:after {
    right: 20px;
    left: auto;
}
.foot_panel_1_mobile {
    display: none;
}
.header_1 .header_city {
    display: none;
}
@media screen and (max-width: 787px) {
    .header_1 .logo a {
        margin-left: 5px;
    }
    .header_1 .logo {
        display: inline-block;
        width: auto;
    }
    .header_1 .header_city {
        display: inline-block;
        width: 49%;
        text-align: right;
        padding-right: 5px;
        right: 0;
        position: absolute;
    }
    .header_1 .telephone {
        padding-top: 10px;
    }
    .foot_panel_1 .kabinet a.login_anch, .foot_panel_1 .kabinet a.personal {
        display: table!important;
        padding: 0!important;
    }
    .kabinet a.login_anch i, .kabinet a.personal i{
        display: table-cell!important;
    }
    .foot_panel_1_mobile {
        display: block;
        width: 33.33%;
        height: 46px;
    }
    .foot_panel_1 .foot_panel_1_mobile .kabinet {
        float: left;
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        border: 1px solid rgba(0,0,0,0.05);
    }
    .foot_panel_2 .kabinet, .kabinet a.orders {
        display: none;
    }
    .foot_panel_1_mobile .kabinet .pop-up.login {
        left: 10px !important;
        right: 10px!important;
    }
    .foot_panel_1_mobile .kabinet .pop-up.login:after {
        left: 28px!important;
        right: auto;
    }
    .foot_panel_1 #kabinet a.login_anch span, .foot_panel_1 #kabinet a.personal span{
        display: none!important;
    }
    .panel_1 .catalog-section-title a,
    .panel_2 .submenu a {
        font-size: 20px !important;
        padding: .7em 1em !important;
    }
    .panel_1 .catalog-section-child a,
    .panel_2 .submenu a ul li a {
        font-size: 20px !important;
        padding: .3em 1em !important;
    }
    .panel_1 .catalog-section-child a .child .text,
    .panel_2 .submenu a ul li a  {
        font-size: 20px !important;
        font-weight: 400 !important;
    }
    .advantages-item-icon img {
        height: 30px;
    }
    .anythingContainer {
        display: none;
    }
    .header_1 {
        width: auto;
    }
    header {
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .header_1 .logo a img {
        width: 150px;
    }
    .weFindRent {
        background-image: none;
        margin: 15px;
    }
    .weFindRent_headerText, .weFindRent_headerPhone,.weFindRent_text {
        width: 100%;
        text-align: center;
    }
    .holidaysBlock {
        background-image: none;
        margin: 15px;
    }
    .holidaysBlock .holidaysBlock_text {
        width: 100%!important;
        text-align: center;
    }
}