/* ГЛОБАЛЬНЫЕ ИЗМЕНАНИЯ ШАБЛОНА */
* {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -khtml-border-radius: 0 !important;
    border-radius: 0 !important;
    transition: none !important;
}

.page-banner {
    width: 100%;
    margin: 0px 0px 11px 0px;
    padding: 0px;
    overflow: hidden;
}
.page-banner img {
    width: inherit;
}

.clear {
    clear: both;
}

.apls_logo {
    /*max-width: 268px;*/
    max-height: 70px;
}

.apls_futer_logo {
    max-height: 50px;
}

.footer-bottom__design a {
    padding-right: 0;
}

.HideElement {
    display: none;
}

body div.popup-window-overlay {
    background: rgba(87, 91, 113, 0.4);
}

a,
a span {
    text-decoration: none !important;
}

h3 {
    font-size: 14px;
    font-weight: 500;
    /*font-style: italic;*/
}

button[disabled] {
    color: #a0a4bc !important;
    background: #edeef8 !important;
}

.tabs a > span {
    border: none;
}

.left-column .new_leader_disc,
.left-column .vendors,
.left-column .subscribe,
.left-column .news-block,
.left-column .reviews-block,
.b-share_theme_counter,
.catalog-item-card .item-desc,
.article_rating .catalog-detail-article,
.article_rating .article {
    display: none !important;
}

.pop-up .popup-window-close-icon,
.title-search-result .search_close,
.compare_line a .qnt,
.delay_line a .qnt,
.foot_panel_2 a.cart .qnt {
    -moz-border-radius: 12px !important;
    -webkit-border-radius: 12px !important;
    -khtml-border-radius: 12px !important;
    border-radius: 12px !important;
}

p.TextP {
    line-height: 1.4;
    text-align: justify;
}

p.TextListName {
    line-height: 1.4;
    text-align: justify;
}

.InfoText {
    color: #969ab7;
    font-style: italic;
    font-size: 12px;
}

.InfoTextClassic {
    color: #969ab7;
    font-size: 12px;
}

ul.TextList,
ol.TextList {
    list-style-type: none;
    margin-bottom: 10px;
}

ul.TextList > li > div,
ol.TextList > li > div,
ul.TextList > li > p,
ol.TextList > li > p {
    text-indent: 0;
}

ul.TextList li,
ol.TextList li {
    padding: 5px 0px;
}

ul.TextList li ul.TextList,
ul.TextList li ol.TextList,
ol.TextList li ul.TextList,
ol.TextList li ol.TextList {
    list-style-type: none;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: 20px;
}

ol.TextList li ul.TextList li {
    padding: 0px 0px;
}

ul.TextList li ul.TextList li:last-child,
ul.TextList li ol.TextList li:last-child,
ol.TextList li ul.TextList li:last-child,
ol.TextList li ol.TextList li:last-child {
    padding-bottom: 0;
}

ul.dash {
    text-indent: -8px;
}

ul.dash > li > ul.dash {
    margin-left: 5px;
}

ul.dash > li:before {
    content: "- ";
}

ol.num {
    list-style: none;
    counter-reset: num !important;
    text-indent: -20px;
}

ol.num > li:before {
    content: counters(num, ".") ". ";
    counter-increment: num;
}

ol.num > li > ol.num {
    display: block;
    margin-left: 0;
    text-indent: -25px;
}

table ol.num {
    counter-reset: tnum !important;
}

table ol.num li:before {
    content: counters(tnum, ".") ". ";
    counter-increment: tnum;
}

hr.TextHR {
    border: 0;
    color: #ef7f1a;
    background-color: #ef7f1a;
    height: 1px;
    margin: 5px 30px 5px 30px;
}

p.TextP a,
p.TextListName a {
    text-decoration: none;
    outline: none;
    font-weight: bold;
    color: #ef7f1a;
}

p.TextP a:hover,
p.TextListName a:hover {
    text-decoration: none;
    outline: none;
    font-weight: bold;
    color: #f30;
}

.content_button {
    color: #8184a1;
    text-decoration: none;
    line-height: 27px;
    border: 1px solid #dee0ee;
    background: none;
    height: 27px;
    display: block;
    margin: 7px 0 0 0;
    padding: 0;
}

.content_button.send_rezume {
    width: 170px;
    margin: 7px auto;
}

.content_button.send_rezume .fa-file {
    margin-right: 5px;
}

table.Stylized {
    /*overflow: hidden;*/
    border: 1px solid #d3d3d3 !important;
    background: #fefefe;
    width: 95%;
    -moz-border-radius: 5px; /* FF1+ */
    -webkit-border-radius: 5px; /* Saf3-4 */
    border-radius: 5px;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
    margin: 20px auto;
}

table.Stylized.auto_width {
    width: auto;
}

table.Stylized th,
table.Stylized td {
    padding: 5px 5px;
    text-align: center;
}

table.Stylized th {
    font: bold 14px/20px 'Roboto', "PT Sans", helvetica, "segoe UI", arial, sans-serif;
    padding-top: 12px;
    text-shadow: 1px 1px 1px #fff;
    background: #e8eaeb;
}

table.Stylized td {
    font: 300 12px/20px 'Roboto', "PT Sans", helvetica, "segoe UI", arial, sans-serif;
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

table.Stylized tr.odd-row td {
    background: #f6f6f6;
}

table.Stylized td.first,
table.Stylized th.first {
    text-align: left
}

table.Stylized td.last {
    /*border-right: none;*/
}

table.Stylized td {
    background: -moz-linear-gradient(100% 25% 90deg, #fefefe, #f9f9f9);
    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f9f9f9), to(#fefefe));
}

table.Stylized tr.odd-row td {
    background: -moz-linear-gradient(100% 25% 90deg, #f6f6f6, #f1f1f1);
    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f1f1f1), to(#f6f6f6));
}

table.Stylized th {
    background: -moz-linear-gradient(100% 20% 90deg, #e8eaeb, #ededed);
    background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#ededed), to(#e8eaeb));
}

table.Stylized tr:first-child th.first {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px; /* Saf3-4 */
}

table.Stylized tr:first-child th.last {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px; /* Saf3-4 */
}

table.Stylized tr:last-child td.first {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px; /* Saf3-4 */
}

table.Stylized tr:last-child td.last {
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px; /* Saf3-4 */
}

table.Stylized tr:hover td {
    cursor: pointer;
    background: #F8F8F8;
}

table.Stylized tr td img {
    display: block;
    margin: 5px auto;
    width: 50px;
}

/* НЕБОЛЬШИЕ ИСПРАВЛЕНИЯ */
.advantages .adv-item {
    width: 25%;
}

.footer_soc_pay {
    width: 20%;
}

.footer_menu {
    width: 80%;
}

.footer_menu ul {
    width: 25%;
    padding: 0px 20px 0px 0px;;
}

input[type="text"] {
    outline: none;
}

.header_1 {
    width: 290px;
}

.bx-soa-cart-total.bx-soa-cart-total-fixed {
    position: fixed;
    top: 60px;
}

.geolocation-delivery-detail__delivery-list .geolocation-delivery-detail__delivery-item .geolocation-delivery-detail__cell .geolocation-delivery-detail__delivery-descr {
    /*max-height: 100px;*/
    /*overflow-y: auto;*/
    font-size: 10px;
}

.point_of_delivery.APLS_contacts_shops,
.studio_furniture.APLS_contacts_shops {
    height: 300px;
}

.hint_agreement .checkbox span.input-checkbox i {
    color: #ef7f1a;
}

.hint_agreement .checkbox span.input-checkbox.cheked {
    border: 2px solid #ef7f1a;
}

/* ИКОНКИ */
.fa.delivery-small-icon,
.fa.bonus-small-icon,
.fa.discount-small-icon,
.fa.credit-small-icon {
    height: 22px;
    width: 22px;
}

.fa.delivery-small-icon {
    background: url("../icon/delivery-small-icon.svg") center center no-repeat;
}

.fa.bonus-small-icon {
    background: url("../icon/bonus-small-icon.svg") center center no-repeat;
}

.fa.discount-small-icon {
    background: url("../icon/discount-small-icon.svg") center center no-repeat;
}

.fa.credit-small-icon {
    background: url("../icon/credit-small-icon.svg") center center no-repeat;
}

/* СЛАЙДЕР */
.anythingSlider .arrow.forward a, .anythingSlider .arrow.back a {
    background: #ef7f1a;
}

.anythingSlider .arrow.forward a:before, .anythingSlider .arrow.back a:before {
    border-bottom: 4px solid #d26b0f;
}

.anythingSlider .arrow.forward a:after, .anythingSlider .arrow.back a:after {
    border-top: 4px solid #d26b0f;
}

/* ОСНОВНОЕ МЕНЮ */
.top-menu {
    background: #ef7f1a;
    color: #ffffff;
}

.top-menu ul.store-horizontal > li > a {
    color: #ffffff;
}

.top-menu ul.store-horizontal > li:hover > a,
.top-menu ul.store-horizontal > li.jshover > a,
.top-menu ul.store-horizontal > li.active:hover > a,
.top-menu ul.store-horizontal > li.active.jshover > a {
    background: #ffffff;
    color: #34383d;
}

.top-menu .dropdown-menu {
    border-top: 1px solid #ef7f1a;
    background: #ef7f1a;
    color: #ffffff;
}

.top-menu .dropdown-menu > li {
    border-bottom: 1px solid #ef7f1a;
}

.top-menu .dropdown-menu > li > a {
    color: #ffffff;
}

.top-menu .dropdown-menu > li:hover > a,
.top-menu .dropdown-menu > li.jshover > a,
.top-menu .dropdown-menu > li.active > a {
    color: #34383d;
    background-color: #ffffff;
}

/* ОСНОВНАЯ ПАНЕЛЬ */
.foot_panel_1 a .text,
.foot_panel_2 a .text,
.foot_panel_1 a.personal span,
#kabinet > a > span {
    display: none !important;
}

.kabinet a.login_anch i,
.kabinet a.personal i,
.kabinet a.register i,
.kabinet a.exit i {
    padding: 0px;
}

.foot_panel_1 a i,
.foot_panel_2 a i {
    color: #ffffff !important;
}

.foot_panel_1 a .qnt_cont .qnt,
.foot_panel_2 a .qnt_cont .qnt {
    color: #34383d !important;
    background: #ffffff;
}

.foot_panel_1 a:hover {
    background: #ffffff !important;
}

.foot_panel_1 a:hover i {
    color: #ef7f1a !important;
}

.foot_panel_1 a:hover .qnt {
    color: #ffffff !important;
    background: #ef7f1a !important;
}

/* Левое меню навигации */
ul.left-menu > li > a {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
}

ul.left-menu > li > a,
ul.left-menu > li.parent > ul.submenu > li a, ul.left-menu > li.parentMore > ul.submenuMore > li a {
    text-decoration: none;
}

ul.left-menu > li.parent > ul.submenu, ul.left-menu > li.parent > .catalog-section-childs, ul.left-menu > li.parentMore > ul.submenuMore {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
    webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

ul.left-menu > li > a {
    font-size: 10px !important;
}

.catalog-section-child a .child .text, .reviews-section-child a .child .text {
    font-weight: 700;
    font-size: 11px !important;
}

.catalog-detail .article_rating {
    width: 280px;
    margin: 0px;
}

.catalog-item-price-view .item-price .catalog-item-price-old {
    display: block;
}

/* хлебные крошки */
/*
.breadcrumb__arrow {
    display: none;
}

.breadcrumb {
    width: 100%;
    float: none;
}

.breadcrumb__item {
    display: inline-block;
    background: #f6f6fb;
    text-decoration: none;
    margin: 0 .5em 1em 1em !important;
    position: relative;
    height: 3em;
    max-width: 180px;
    font-size: 10px;
}

.breadcrumb__item::before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-width: 1.5em 0 1.5em 1em;
    border-style: solid;
    border-color: #f6f6fb #f6f6fb #f6f6fb transparent;
    left: -1em;
}

.breadcrumb__item::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid #f6f6fb;
    right: -1em;
}

.breadcrumb__item:first-child {
    margin: 0 .5em 1em 0 !important;
}

.breadcrumb__item:first-child::before {
    display: none;
}

.breadcrumb__item > .breadcrumb__link,
.breadcrumb__item > .breadcrumb__title {
    display: table-cell;
    vertical-align: middle;
    height: 3em !important;
    padding: 0 1em;
    color: #8184a1;
}

.breadcrumb__item:hover {
    background: #ef7f1a;
}

.breadcrumb__item:hover::before {
    border-color: #ef7f1a #ef7f1a #ef7f1a transparent;
}

.breadcrumb__item:hover::after {
    border-left: 1em solid #ef7f1a;
}

.breadcrumb__item:hover > .breadcrumb__link,
.breadcrumb__item:hover > .breadcrumb__title {
    color: #FFFFFF;
}

.breadcrumb__item:hover:last-child {
    background: #f6f6fb;
}

.breadcrumb__item:hover:last-child::before {
    border-color: #f6f6fb #f6f6fb #f6f6fb transparent;
}

.breadcrumb__item:hover:last-child::after {
    border-left: 1em solid #f6f6fb;
}

.breadcrumb__item:hover:last-child > .breadcrumb__link,
.breadcrumb__item:hover:last-child > .breadcrumb__title {
    color: #8184a1;
}
*/

.catalog-item-price-view .unit {
    width: 68px !important;
}

/* Страница Спасибо за покупку */
.wrapperPageFinalPayment {
    margin-top: 10px;
}

.pageFinalPayment {
    cursor: pointer;
    display: block;
    text-decoration: none;
}

.myOrder,
.myCatalog {
    padding: 5px 7px;
    float: left;
}

.myOrder {
    margin-right: 10px;
}

.myCatalog {
}

.pageFinalPaymentOrderNunber {
    color: #ef7f1a;
}

/*.catalog-promotions-price-view .catalog-item .catalog-item-info,*/
.catalog-promotions-price-view .catalog-item {
    border: 1px solid transparent;;
}

/*Футер*/
.footer-bottom__block-wrap.fb-left .footer-bottom__block.footer-bottom__links ul li:first-child {
    display: none;
}

.footer-bottom__block-wrap.fb-right .footer-bottom__block.footer-bottom__counter {
    display: none;
}

/* телефоны в шапке */
.header_3 .schedule .main_phone {
    margin-bottom: 2px;
    padding-bottom: 2px;
}
.header_3 .schedule .main_phone .title {
    font-size: 12px;
}
.header_3 .schedule .main_phone .phone {
    font-size: 14px;
    font-weight: 700;
}
.header_3 .schedule .time div {
    font-size: 13px;
    text-align: right;
    font-weight: 600;
}
.header_3 .schedule .time div span {
    font-size: 10px;
    font-weight: 400;
}
.header_4 .geolocation {
    height: 28px;
    padding-top: 2px;
}
.header_4 .telephone .info_phone .title {
    font-size: 12px;
}
.header_4 .telephone .info_phone .phone {
    font-size: 14px;
    font-weight: 700;
}
.header_4 .telephone .info_phone .phone span {
    font-size: 12px;
    font-weight: 400;
}
/*Кнопка скрытия меню*/
.menu_header_block{
    padding: 7px 12px 7px 14px;
    background: #ef7f1a;
    border: 2px solid #ef7f1a;
}
.menu_header_block .h3 {
    font-size: 13px;
    color: #FFFFFF;
    padding: 0;
    font-weight: 500;
}
.menu-header {
    padding: 28px 0px 7px 0px;
}
.menu-header .menu-header-swap {
    float: right;
    display: inline-block;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
}
.menu-header .menu-header-swap .fa.fa-minus{
    display: block;
}
.menu-header .menu-header-swap .fa.fa-plus{
    display: none;
}
.menu-header .h3 {
    display: inline-block;
}
.menu-header{
    cursor: pointer;
}

/* Каталог */
.catalog-item-card .item-all-title {
    height: 45px;
}
.catalog-item-card .item-price-cont {
    height: 42px;
}
iframe {
    border: none;
    border: 1px solid #dee0ee;
}
.advantages-item {
    width: 25%;
}
.advantages .advantages-item-icon,
.advantages .advantages-item-text,
.advantages .advantages-item-previw {
    text-align: center;
    display: block;
}
.advantages .advantages-item-text {
    text-transform: uppercase;
    padding-top: 10px;
}
.advantages-item-icon img {
    height: 60px;
}
.consultation_page img{
    margin-bottom: 15px;
    width: 100%;
}
.consultation_btn {
    padding-top: 15px;
}
/*Страница оплаты*/
.payments_list {
    width: 100%;
    padding-top: 20px;
}
.payments_list.payment_last_element {
    padding-bottom: 20px;
}
.payments_list .payment_logo {
    width: 7%;
    height: 72px;
    float: left;
}
.payments_list .payment_logo img {
    height: 70%;
}
.payments_list .payment_content {
    width: 90%;
    display: inline-block;
}
.payments_list .payment_header {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #575b71;
}
@media screen and (max-width: 450px) {
    .payments_list .payment_logo {
        width: 15%;
        height: 65px;
    }
    .payments_list .payment_logo img {
        height: 50%;
    }
    .payments_list .payment_content {
        width: 70%;
    }
}
@media screen and (min-width: 451px) and (max-width: 1024px) {
    .payments_list .payment_logo {
        width: 11%;
        height: 70px;
    }
    .payments_list .payment_logo img {
        height: 60%;
    }
    .payments_list .payment_content {
        width: 80%;
    }
}

@media screen and (max-width: 1013px) {
    #bx-soa-total-mobile .bx-soa-cart-total-button-container.hidden {
        display: none!important;
    }
}
