/* Мои заказы */
.tr_into_in_buttom {
    cursor: pointer;
}
.tr_into_in_buttom:hover .cart-item-plus-minus a i {
    color: #f18c32 !important;
}
.cart-items .equipment-order.list .thead .cart-item-status {
    width: 155px;
}

.cart-items .equipment-order.detail .thead .cart-item-status {
    width: 155px;
}

.cart-items .equipment-order.list .tbody .cart-item-status span.item-status-a {
    font-weight: 700;
    color: #688123;
}

.cart-items .equipment-order.list .tbody .cart-item-status {
    width: 150px;
}

.cart-items .equipment-order.detail .tbody .cart-item-status {
    width: 150px;
}

.cart-item-payment a {
    border: 2px solid #ef7f1a;
    background: #FFFFFF;
    color: #ef7f1a !important;
    display: block;
    text-decoration: none !important;
    text-transform: lowercase;
    font-size: 14px !important;
    line-height: 20px !important;
    font-weight: 600 !important;
    padding: 0 5px;
    width: 90px;
    text-align: center;
    margin-top: 10px;
}

.cart-item-payment a:hover {
    border: 2px solid #ef7f1a;
    background: #ef7f1a;
    color: #FFFFFF !important;
}

.notetext p a {
    color: #ef7f1a;
    text-decoration: none !important;
    font-weight: bold;
}

.notetext p a:hover {
    text-decoration: underline !important;
    cursor: pointer;
}
.tr_into .order-recipient .field-name,
.body_text .order-recipient .field-name {
    width: 185px;
}

.btnPrint {
    display: block;
    width: 180px !important;
    line-height: 27px;
    padding: 5px;
    margin: 10px;
}
a.btnPrint:hover,
.notetext p a.btnPrint:hover{
    text-decoration: none !important;
}
.btnPrint span {
    padding-left: 5px;
}

/*Заказ. Скрытие полей подъём и ко времени*/
[data-property-id-row="33"],
[data-property-id-row="34"] {
    display: none;
}

.ServiceCenterSelectBox {
    border: 1px solid orange !important;
}

.cart-items .cart-buttons button[name=BasketPrint] {
    width: 110px;
}

.btn_buy.apuo.order_print {
    margin-left: 5px;
    width: 90px;
}


.field .UF_CARD_NUMBER,
.personal-info_in .UF_CARD_NUMBER {
    display: block;
    height: auto;
    padding: 10px 0px 15px 0px;
}
.field .UF_CARD_NUMBER img,
.personal-info_in .UF_CARD_NUMBER img {
    float: none !important;
    width: 220px;
}