body .bx-panel.clvt,
footer .foot_panel_all,
header .header_3,
header .header_4 .info_phone .title,
.catalog-item-info .buy_more,
.catalog-item-info .compare_delay,
.catalog-item-info .available,
.price_buy_detail .catalog-detail-buy,
.price_buy_detail .compare_delay,
.price_buy_detail .available,
.tvr_search .buy_more {
    display: none !important;
}
header .header_4 .info_phone .title {
    margin-top: 0;
}
.top-menu-fixed {
    top: 0;
}
#altop_search.altop-search-fixed {
    top: 33px;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 2px solid #ef7f1a;
    margin: 0;
}