.geolocation-region-list {
    padding: 2em;
}
.geolocation-region-list .geolocation-region-item {
    display: block;
    text-transform: uppercase;
    border: 1px solid #FFFFFF;
    background: #FFFFFF;
    color: #8184a1;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0,0,0,.2);
    font-size: 14px;
    padding: .5em;
    margin-bottom: .5em;
    text-align: center;
}
.geolocation-region-list .geolocation-region-item:hover {
    border: 1px solid #ef7f1a;
    background: #ef7f1a;
    color: #FFFFFF;
}