.personal_tabs .personal_tab_title {
    padding: 1em 1.5em;
    font-size: 13px;
    font-weight: 600;
    color: #575b71;
    background: #dee0ee;
    border: 1px solid #dee0ee;
    display: inline-block;
    cursor: pointer;
}
.personal_tabs .personal_tab_title.checked {
    color: #575b71;
    background: #fff;
    border-bottom: 2px solid #fff;
    margin-bottom: -1px;
}
.personal_tabs .personal_tab_title.checked:hover{
    border-bottom: 2px solid #fff;
}
.personal_tabs .personal_tab_title:hover {
    color: #575b71;
    background: #fff;
    border-bottom: 1px solid #fff;
}
.personal-info_codebar_block {
    width: 308px;
    height: 200px;
    border: 1px solid #dee0ee;
    border-radius: 15px!important;
}
.personal-info_codebar_block_header {
    padding-top: 5px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.personal-info_codebar {
    position: relative;
    overflow: hidden;
    padding-top: 10px;
    text-align: center;
}
.personal-info.personal_delivery {
    display: none;
}
.personal-info.personal_delivery .sale-profile-detail-block-wrap{
    border: 0!important;
    margin-bottom: 0!important;
}
.personal-info.personal_delivery .sale-profile-detail-form-group.sale-profile-detail-form-property-text:last-child {
    margin-bottom: 0!important;
}
.personal-info.personal_delivery .sale-profile-detail-form-btn .btn_buy.popdef {
    margin-top: 10px;
    margin-left: -1px;
}
.personal_fio {
    display: none;
}
.personal_delivery {
    display: none;
}
.personal_pass {
    display: none;
}
.personal-info_codebar .ripple {
    width: 220px;
    height: 220px;
    left: 44px;
    top: 40px;
    border-radius: 50%!important;
    background: rgba(255,255,255,.8);
    transform: scale(0);
    position: absolute;
    opacity: 1;
}
.rippleEffect {
    animation: rippleDrop 2s infinite linear;
}
@keyframes rippleDrop {
    100% {
        transform: scale(2);
        opacity: 0
    }
}
@media screen and (max-width: 450px) {
    .personal_tabs {
        text-align: center!important;
    }
    .personal_tabs .personal_tab_title {
        width: 88%!important;
        text-align: center!important;
    }
    .personal_tabs .personal_tab_title {
        margin-bottom: 5px;
    }
    .personal_tabs .personal_tab_title.checked {
        margin-bottom: 5px;
        border: 1px solid #dee0ee!important;
    }
}